<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tbptb_b.k16_dosen">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.K16_Dosen"
        tools:targetApi="31">
        <service
            android:name=".FirebaseMessagingTappsService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SidangPersetujuanActivity"
            android:exported="false" />
        <activity
            android:name=".SidangjActivity"
            android:exported="false" />
        <activity
            android:name=".D2SeminarActivity"
            android:exported="false" />
        <activity
            android:name=".PembatalanTaActivity"
            android:exported="false" />
        <activity
            android:name=".SeminarPersetujuanActivity"
            android:exported="false" />
        <activity
            android:name=".RekomendasiInputActivity"
            android:exported="false" />
        <activity
            android:name=".UlasanLbActivity"
            android:exported="false"
            android:label="Ulasan" />
        <activity
            android:name=".SetujuBbmTA"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.K16_Dosen.NoActionBar." />
        <activity
            android:name=".DetailLogbookActivity"
            android:exported="false"
            android:label="Detail Logbook" />
        <activity
            android:name=".JseminarActivity"
            android:exported="false" />
        <activity
            android:name=".inputnilaisidangActivity"
            android:exported="false" />
        <activity
            android:name=".rayhan.MainMenu"
            android:exported="false" />
        <activity
            android:name=".DSidang2Activity"
            android:exported="false" />
        <activity
            android:name=".rayhan.DetailMahasiswa"
            android:exported="false"
            android:label="Detail Mahasiswa"/>
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".LogbookActivity"
            android:exported="false"
            android:label="Logbook" />
        <activity
            android:name=".DetailSidangActivity"
            android:exported="false"
            android:label="Detail Sidang" />
        <activity
            android:name=".DetailSeminarActivity"
            android:exported="false"
            android:label="Detail Seminar" />
        <activity
            android:name=".rayhan.DetailTAActivity"
            android:exported="false"
            android:label="Detail Tugas Akhir" />
        <activity
            android:name=".Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.K16_Dosen.NoActionBar.">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>